processor/src/web/web/WEB-INF/TransactionService_7.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- edited with XMLSpy v2011 rel. 3 (http://www.altova.com) by Ildar Muhhamedjanov (Remarc Systems OÜ) --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:uec-trn="http://schemas.msk.ru/uec/transaction/v1" xmlns:uec-id="http://schemas.msk.ru/uec/identification/v1" xmlns:uec-cmn="http://schemas.msk.ru/uec/common/v1" xmlns:pc="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" xmlns:pd="urn:iso:std:iso:20022:tech:xsd:pain.008.001.02" targetNamespace="http://schemas.msk.ru/uec/transaction/v1" elementFormDefault="qualified">

    <xsd:import namespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" schemaLocation="TransactionService_1.xsd"/>


	<xsd:import namespace="http://schemas.msk.ru/uec/identification/v1" schemaLocation="TransactionService_4.xsd"/>
	<xsd:import namespace="http://schemas.msk.ru/uec/common/v1" schemaLocation="TransactionService_3.xsd"/>
	<xsd:element name="transactionDescription" type="uec-trn:TransactionDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Сведения о событии</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TransactionDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Сведения о транзакции</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="transactionSourceDescription" type="uec-trn:TransactionSourceDescriptionType">
				<xsd:annotation>
					<xsd:documentation>Идентификация источника транзакции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transactionIdDescription" type="uec-trn:TransactionIdDescriptionType">
				<xsd:annotation>
					<xsd:documentation>Идентификация транзакции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transactionTypeDescription" type="uec-trn:TransactionTypeDescriptionType">
				<xsd:annotation>
					<xsd:documentation>Идентификация типа транзакции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="holderDescription" type="uec-id:HolderIdDescriptionType">
				<xsd:annotation>
					<xsd:documentation>Идентификация карты (держателя)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deviceDescription" type="uec-trn:DeviceDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификация устройства, владельца устройства, поставщика услуги</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accountingDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Учетная часть транзакции</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="accountingDescriptionItem" type="uec-trn:AccountingDescriptionItemType" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Запись учетной части транзакции</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="relationDescription" type="uec-trn:RelationDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ссылки для связи с другими событиями и информационными системами</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transactionStatusDescription" type="uec-trn:TransactionStatusDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Статусы транзакции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="macDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Подписи</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mac" type="uec-id:MacType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись, сделанная картой. Данные для подписи определяются типом транзакции.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="samMACDescription" type="uec-trn:SAMMACDescriptionType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись, сделанная SAM  </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="additionalInfo" type="uec-cmn:AdditionalDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дополнительные поля</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transactionTags" type="uec-trn:TagType" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="TransactionSourceDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Идентификация источника транзакции</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="transactionSourceId" type="uec-id:LegalIdDescriptionType">
				<xsd:annotation>
					<xsd:documentation>Идентификатор источника транзакции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="organizationType" type="uec-id:OrganizationType">
				<xsd:annotation>
					<xsd:documentation>Тип источника транзакции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transactionSystemCode">
				<xsd:annotation>
					<xsd:documentation>Код системы оказания услуги, реестр</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="transactionSystemName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование  системы оказания услуги</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="TransactionIdDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Идентификация события</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="transactionId">
				<xsd:annotation>
					<xsd:documentation>Уникальный идентификатор транзакции</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="transactionDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Дата-время транзакции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="TransactionTypeDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Идентификация типа события</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="serviceCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код услуги</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="serviceName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование услуги</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="transactionCode">
				<xsd:annotation>
					<xsd:documentation>Код транзакции</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="transactionName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование транзакции</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="DeviceDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Идентификация устройства, владельца устройства, поставщика услуги</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="providerCode" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Код поставщика услуги  (кто должен оказать или оказал услугу), справочник</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="providerName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование поставщика услуги</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="deviceId" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Идентификатор экземпляра устройства приема УЭК</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="deviceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор типа устройства приема УЭК в реестре ФУО</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="deviceDetail" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дополнительная информация об устройстве</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="RelationDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Ссылки для связи с другими событиями и информационными системами</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="previousTransaction" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Ссылка на предшествующую транзакцию </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="transactionSourceDescription" type="uec-trn:TransactionSourceDescriptionType"/>
						<xsd:element name="transactionId" type="uec-trn:TransactionIdDescriptionType">
							<xsd:annotation>
								<xsd:documentation>Ссылка на предшествующую (родительскую) транзакцию в системе оказания услуги </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="internalTransactionId" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Ссылка на внутренний номер транзакции в системе оказания услуги</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="relationOrganization" type="uec-id:LegalIdDescriptionType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Ссылка на организацию связанную с транзакцией</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccountingDescriptionItemType">
		<xsd:annotation>
			<xsd:documentation>Учетная часть транзакции</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="eventStart" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Начало тарифицируемого промежутка времени </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="eventEnd" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Конец тарифицируемого промежутка времени </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="resourceCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Род ресурса</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="resourceCodeName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование рода ресурса</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="resourceCount" type="xsd:double" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Объем ресурсов</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="financialDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Финансовая часть транзакции</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="financialDescriptionItem" type="uec-trn:FinancialDescriptionItemType" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Запись финансовой части транзакции</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FinancialDescriptionItemType">
		<xsd:annotation>
			<xsd:documentation>Финансовая часть транзакции</xsd:documentation>
		</xsd:annotation>
		<xsd:all minOccurs="0">
			<xsd:element name="financialCode">
				<xsd:annotation>
					<xsd:documentation>Код назначения учетной части</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:enumeration value="DBT">
							<xsd:annotation>
								<xsd:documentation>Списание средств с карты</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="CRD">
							<xsd:annotation>
								<xsd:documentation>Зачисление средств на карту</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="BALANCE">
							<xsd:annotation>
								<xsd:documentation>Баланс карты</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="financialCodeName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование назначения учетной части </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="financialAmount" type="xsd:decimal" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Сумма учетной части</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="financialCurrency" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Буквенный код валюты суммы учетной части - ISO 4217, Школьные баллы - XSC.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="accountingDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Дата и время действительности учетной части</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentAdditionalInfo" type="uec-trn:PaymentAdditionalInfoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дополнительные инструкции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Платежная информация</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="CstmrCdtTrfInitn" type="pc:PaymentInstructionInformation3"/>

					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="TransactionStatusDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Статусы транзакции</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="interfaceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификация используемого интерфейса карты, или приложения</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:enumeration value="MIFARE">
							<xsd:annotation>
								<xsd:documentation>MIFARE</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="TCL">
							<xsd:annotation>
								<xsd:documentation>Бесконтактный интерфейс, T=CL протокол</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="T0">
							<xsd:annotation>
								<xsd:documentation>Контактный интерфейс, T=0 протокол</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="T1">
							<xsd:annotation>
								<xsd:documentation>Контактный интерфейс, T=1 протокол</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="cardStatus" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Статус карты</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="NORM"/>
						<xsd:enumeration value="BLOCK"/>
						<xsd:enumeration value="ERROR"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="isPinUsed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак использования ПИНа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isModuleUsed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак факта взаимодействия с хостом или с SAM-модулем во время транзакции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isServiceDone" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак оказания услуги</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="error" type="uec-cmn:ErrorType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ошибка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="otherStatuses" type="uec-trn:OtherStatusesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Другие статусы</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="SAMMACDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Подписи</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="samID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор экземпляра SAM</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="samIdentityCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код используемого идентификатора SAM</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:enumeration value="UECN"/>
						<xsd:enumeration value="CHIP"/>
						<xsd:enumeration value="IP"/>
						<xsd:enumeration value="OTHER"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="samIdentityName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование  используемого идентификатора SAM</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="samCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Тип SAM</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
						<xsd:enumeration value="UEC"/>
						<xsd:enumeration value="SAM"/>
						<xsd:enumeration value="HOST"/>
						<xsd:enumeration value="ADM"/>
						<xsd:enumeration value="OTHER"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="samName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование SAM</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="algType" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор используемого алгоритма (по договоренности сторон)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="key" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Код/Номер используемого ключа (7, 8, 9)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="keyIndex" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>версия ключа, читается с карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contId" type="xsd:hexBinary">
				<xsd:annotation>
					<xsd:documentation>Идентификатор области данных, контейнера</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataForSamMacSign" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Часть данных использованных для MAC-подписи SAM-модулем</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1020"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="samMACSign" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>«MAC-подпись» транзакции другой стороной: хостом, SAM-модулем, другой картой</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="macDetail" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дополнительная информация о подписи</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="PaymentAdditionalInfoType">
		<xsd:annotation>
			<xsd:documentation>Дополнительная информация для платежа</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="paymentInstruction">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="instructionCode">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="32"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="instructionValue">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherStatusesType">
		<xsd:annotation>
			<xsd:documentation>Иные статусы</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="otherStatus">
				<xsd:annotation>
					<xsd:documentation>Иной статус</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="otherStatusCode">
							<xsd:annotation>
								<xsd:documentation>Код статуса</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="32"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="otherStatusValue">
							<xsd:annotation>
								<xsd:documentation>Значение статуса</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="32"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="otherStatusName">
							<xsd:annotation>
								<xsd:documentation>Описание статуса, наименование</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TagType">
		<xsd:annotation>
			<xsd:documentation>Тэг объекта</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="1">
			<xsd:element name="tag" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Иной статус</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransactionListType">
		<xsd:annotation>
			<xsd:documentation>список транзакций</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="transaction" type="uec-trn:TransactionDescriptionType" minOccurs="0" maxOccurs="100"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorListType">
		<xsd:annotation>
			<xsd:documentation>список ошибок</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="uec-cmn:ErrorListType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TransactionBlockType">
		<xsd:annotation>
			<xsd:documentation>последовательный номер блока (начиная с 1) </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="uec-cmn:BlockNumberType">
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>