processor/src/web/web/WEB-INF/TransactionService_3.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- edited with XMLSpy v2011 rel. 3 (http://www.altova.com) by Ildar Muhhamedjanov (Remarc Systems OÜ) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:uec-cmn="http://schemas.msk.ru/uec/common/v1"
            targetNamespace="http://schemas.msk.ru/uec/common/v1" elementFormDefault="qualified">
	<xsd:complexType name="ErrorType">
		<xsd:annotation>
			<xsd:documentation>Ошибка</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="errorCode" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Код ошибки, пустое поле - отсутствие ошибки</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="errorDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Содержание ошибки</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="AdditionalDataType">
		<xsd:annotation>
			<xsd:documentation>Дополнительные поля</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="additionalData">
				<xsd:annotation>
					<xsd:documentation>Дополнительное поле</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="additionalDataCode">
							<xsd:annotation>
								<xsd:documentation>Дополнительное поле код</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="32"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="additionalDataDescription" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дополнительное поле наименование</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="additionalDataValue">
							<xsd:annotation>
								<xsd:documentation>Дополнительное поле значение</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1020"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SimpleReferenceType">
		<xsd:annotation>
			<xsd:documentation>Простой справочник</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="items">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Запись</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="code">
										<xsd:annotation>
											<xsd:documentation>Код</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="name">
										<xsd:annotation>
											<xsd:documentation>Наименование</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorListType">
		<xsd:annotation>
			<xsd:documentation>список ошибок</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="error" type="uec-cmn:ErrorType" minOccurs="0" maxOccurs="100"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="BlockNumberType">
		<xsd:annotation>
			<xsd:documentation>последовательный номер блока (начиная с 1) </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="fault" type="uec-cmn:FaultType">
		<xsd:annotation>
			<xsd:documentation>Ошибка приложения</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FaultType">
		<xsd:annotation>
			<xsd:documentation>Описание ошибки</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="faultName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Краткое, программно-зависимое наименование ошибки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="message" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Развернутое пояснение об ошибке, с возможным разъяснением о причинах ошибки и методах ее устранения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="errorCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код ошибки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>