release-2.2.51.131122/src/schemas/rnip/xsd/entity/document/Catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by KloAV (EMBRACE) -->
<xs:schema xmlns="http://www.bssys.com/xsd/Catalog" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.bssys.com/ebpp/Common" xmlns:ns2="http://www.bssys.com/ebpp/Organization" xmlns:org="http://roskazna.ru/xsd/Organization" xmlns:com="http://roskazna.ru/xsd/Common" targetNamespace="http://www.bssys.com/xsd/Catalog" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../../request/xmldsig-core-schema.xsd"/>
	<xs:import namespace="http://roskazna.ru/xsd/Common" schemaLocation="../directory/Common.xsd"/>
	<xs:import namespace="http://roskazna.ru/xsd/Organization" schemaLocation="../directory/Organization.xsd"/>
	<xs:complexType name="CatalogDeltaInqMsgRs_Type">
		<xs:annotation>
			<xs:documentation>Тип, описывающий изменения в Каталоге услуг ОПУ для авансовых платежей</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Changes" type="ServiceCatalog_Type" nillable="true">
				<xs:annotation>
					<xs:documentation>Изменения в каталоге</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CatalogDeltaInqMsgRs" type="CatalogDeltaInqMsgRs_Type">
		<xs:annotation>
			<xs:documentation>Изменения в Каталоге услуг ОПУ для авансовых платежей</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ServiceCatalog" type="ServiceCatalog_Type">
		<xs:annotation>
			<xs:documentation>Каталог услуг ОПУ для авансовых платежей</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ServiceCatalog_Type">
		<xs:annotation>
			<xs:documentation>Тип, описывающий Каталог услуг ОПУ </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Service" type="Service_Type" maxOccurs="unbounded"/>
			<xs:element ref="ds:Signature" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Наименование</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="revisionDate" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Дата последнего изменения каталога</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" type="xs:token" default="1.0">
			<xs:annotation>
				<xs:documentation>Версия</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="ServiceCode" type="com:UUID">
		<xs:annotation>
			<xs:documentation>Код услуги, представленный в Каталоге услуг ОПУ для авансовых платежей</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Service_Type">
		<xs:annotation>
			<xs:documentation>Тип для описание услуги</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceCategory" type="ServiceCategory_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Категория услуги</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentParameters" type="DescriptionParameters_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Список параметров платежа, необходимых для принятия платежа по услуге   			</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrenciesServices" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Коды валют, в которых возможна оплата услуги</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CurrencyCode" type="com:CurrencyCodeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="org:Payee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Получатель платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentKind" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид оплаты:
1 – авансовый платеж;
2 – услуга может иметь одновременно два типа оплаты (авансовый платеж и оплата выставленного ОПУ услуг счета);
3 – оплата выставленного ОПУ услуг счета.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="1"/>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>
    							авансовый платеж
    						</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>
    							выставленный счет
    						</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MinAmount" type="com:Money" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Минимальная сумма платежа по услуге</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxAmount" type="com:Money" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Максимальная сумма платежа по услуге</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commissions" type="com:Commissions_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Комиссии по услуге</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Regions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регионы, в которых предоставляется данная услуга</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Region" type="Region_Type" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Subservices" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Подуслуги</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Service" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="com:AdditionalData" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Наименование услуги</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="code" use="required">
			<xs:annotation>
				<xs:documentation>Код услуги</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="36"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="desc" type="xs:string">
			<xs:annotation>
				<xs:documentation>Описание</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="expires" type="xs:date">
			<xs:annotation>
				<xs:documentation>Дата до которой предоставляется услуга, если отсутствует, то услуга действует постоянно</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isActive" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Показывает доступность услуги:
true - доступна
false - не доступна</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="revisionDate" type="xs:date">
			<xs:annotation>
				<xs:documentation>Дата внесения изменений</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Service" type="Service_Type">
		<xs:annotation>
			<xs:documentation>Описание услуги</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CatalogFullInqMsgRs">
		<xs:annotation>
			<xs:documentation>Полный Каталог услуг ОПУ для авансовых платежей</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServiceCatalog" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Error_Type">
		<xs:annotation>
			<xs:documentation>Общий тип ощибки</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="ErrorStack">
				<xs:annotation>
					<xs:documentation>Детальное описание ошибки - Stack Trace</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="code" use="required">
			<xs:annotation>
				<xs:documentation>Код ошибки</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="80"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="errorMessage" use="required">
			<xs:annotation>
				<xs:documentation>Техт ошибки</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="256"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="status" use="required">
			<xs:annotation>
				<xs:documentation>Статус ошибки:
	0 - Informatiom
	1 - Warning
	2 - Fatal</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="CatalogMsgError" type="Error_Type">
		<xs:annotation>
			<xs:documentation>Ошибки при работе с каталогом</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ServiceCategory_Type">
		<xs:annotation>
			<xs:documentation>Тип, описывающий категории услуг</xs:documentation>
		</xs:annotation>
		<xs:attribute name="code" type="xs:string">
			<xs:annotation>
				<xs:documentation>Код категории</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name">
			<xs:annotation>
				<xs:documentation>Наименование категории</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DescriptionParameter_Type">
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Наименование параметра для отображения в ДБО</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" use="required">
			<xs:annotation>
				<xs:documentation>Наименование параметра для отображения в интерфейсе ДБО</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="80"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="required" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Указывает, является данный параметр обязательным для заполнения или нет</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="readonly" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Указывает, что данный параметр не может быть изменен пользователем</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="supplierSrvCode">
			<xs:annotation>
				<xs:documentation>Код услуги в каталоге ОПУ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="40"/>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="supplierID" type="com:UUID">
			<xs:annotation>
				<xs:documentation>Id ОПУ, из каталога которого взята услуга</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isId" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Указывает что данный параметр является идентификатором плательщика
0 - параметр определяет платеж в группе параметров с таким же значением isID
1 - параметр является уникальным, если присутствует несколько параметров с таким значением isID, то для идентификации может использоваться любой параметр</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="visible" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Отображать параметр в интерфейсе пользователя или нет</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="forSearch" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Параметр используется при поиске</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="forPayment" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Параметр используется при платеже</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="AllowedValues" type="AllowedValues_Type">
		<xs:annotation>
			<xs:documentation>Возможные значения для параметра (аналог перечисления)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AllowedValues_Type">
		<xs:sequence>
			<xs:element name="Value" type="com:ParamValue_Type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DescriptionSimpleParameter">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DescriptionParameter_Type">
					<xs:sequence minOccurs="0">
						<xs:element name="Regexp" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Маска для проверки значения параметра, в случае отсутствия проверка не производится</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DefaultValue" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Значение параметра по умолчанию</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="AllowedValues" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DescriptionField_Type">
		<xs:sequence minOccurs="0">
			<xs:element name="Regexp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Маска для проверки значения поля параметра, в случае отсутствия проверка не производится</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DefaultValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение поля параметра по умолчанию</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="AllowedValues" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Возможные значения для поля параметра (аналог перечисле­ния)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Наименование поля параметра</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" use="required">
			<xs:annotation>
				<xs:documentation>Наименование поля параметра для отображения в интерфейсе ДБО</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="80"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="required" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Указывает, является данное поле параметра обязательным для заполнения или нет</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="readonly" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Указывает, что данное поле параметра не может быть изменено пользователем</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="visible" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Отображать поле в интерфейсе или нет</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DescriptionComplexParameter">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DescriptionParameter_Type">
					<xs:sequence>
						<xs:element name="Field" type="DescriptionField_Type" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DescriptionParameters_Type">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="DescriptionSimpleParameter">
				<xs:annotation>
					<xs:documentation>Описание реквизитов услуги для ДБО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="DescriptionComplexParameter">
				<xs:annotation>
					<xs:documentation>Комплексное описание реквизитов услуги для ДБО</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Region_Type">
		<xs:annotation>
			<xs:documentation>Тип для описания региона</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id">
			<xs:annotation>
				<xs:documentation>Идентификатор региона</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name">
			<xs:annotation>
				<xs:documentation>Наименование региона</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
