processor/src/web/web/WEB-INF/classes/META-INF/spb/Mealxsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://service.petersburgedu.ru/webservice/mealTypes" targetNamespace="http://service.petersburgedu.ru/webservice/mealTypes" class=" FB_FW_ext Bco">

    <xs:simpleType name="guidType">
        <xs:annotation>
            <xs:documentation>
                Глобальный уникальный идентификатор
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="transactionType">
        <xs:annotation>
            <xs:documentation>
                Операция, проводимая по школьной карте при предоставлении услуги детского питания
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="transactionId" type="cmn:notNullStringType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Идентификатор транзакции
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="transactionDate" type="xs:dateTime" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Дата и время транзакции
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="balance" type="xs:decimal" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Баланс счета школьной карты
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="amount" type="xs:decimal" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Сумма транзакции
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cardName" type="cmn:notNullStringType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Название счета школьной карты
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="foodName" type="cmn:notNullStringType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Название продукта
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="foodAmount" type="xs:integer" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Количество продукта
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="directionType" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Направление (поступление, списание)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="cmn:notNullStringType">
                        <xs:enumeration value="income"/>
                        <xs:enumeration value="expense"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="notNullStringType">
        <xs:annotation>
            <xs:documentation>
                Не пустая строка
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>