processor/src/web/web/WEB-INF/classes/META-INF/spb/SCUDxsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs = "http://www.w3.org/2001/XMLSchema"
    xmlns:cmn = "http://petersburgedu.ru/service/webservice/scudTypes"
    targetNamespace = "http://petersburgedu.ru/service/webservice/scudTypes"
>

    <xs:simpleType name="guidType">
        <xs:annotation>
            <xs:documentation>
                Глобальный уникальный идентификатор
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="eventType">
        <xs:annotation>
            <xs:documentation>
                Описание данных событий СКУД
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="organizationUid" type="cmn:guidType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Глобальный уникальный идентификатор организации
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="systemUid" type="cmn:notNullStringType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Глобальный уникальный идентификатор СКУД
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="readerUid" type="cmn:notNullStringType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Идентификатор устройства прохода
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="studentUid" type="cmn:notNullStringType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Идентификатор обучающегося
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cardUid" type="cmn:notNullStringType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Идентификатор карточки обучающегося
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="directionType" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Тип направления объекта
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="cmn:notNullStringType">
                        <xs:enumeration value="input"/>
                        <xs:enumeration value="output"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="eventDate" type="xs:dateTime" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                       Дата и время события
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="notNullStringType">
        <xs:annotation>
            <xs:documentation>
                Не пустая строка
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>

