processor/src/main/resources/META-INF/contingent/xsd1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:contingent.mos.ru:ws:service">

<xs:complexType name="ServiceHeader" abstract="true">
<xs:sequence>
<xs:element name="Username" type="xs:string" minOccurs="0"/>
<xs:element name="Password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>